@model StudiesAndRegs
@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}

<div class="head-block">
    <div class="course-block">
        <div class="info">
            <h1>
                @Model.Studies.Title
            </h1>
            <p>
                @Model.Studies.Description
            </p>
            <br />

            <div class="course-info">
                <p>Формат обучения: @(Model.Studies.StudyFormat == MIBA.Enums.StudyFormat.Distant ? "Заочно" : "Очно")</p>
                <p>Ближайший период проведения: @Model.Studies.StartTime.ToString("dd/mm/yyyy") - @Model.Studies.EndTime.ToString("dd/mm/yyyy")</p>
                <p>Стоимость: @Model.Studies.Cost ₽</p>
                <p>Выдаваемый документ: @Model.Studies.DocumentAfter</p>
            </div>



            <a href="" class="btn btn-primary">ЗАПИСАТЬСЯ</a>
            <a href="" class="btn outline-btn">ОСТАВИТЬ ОТЗЫВ</a>

        </div>
    </div>
</div>
<div class="circular-arrow"></div>
<div class="main-course-block">
    <h1 class="course-achivments-title">По завершении курса вы будете</h1>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 info-list">
        <li>
            <div class="circle">
                <p>1</p>
            </div>
            <div class="course-info-block">
                <div class="course-info-title">
                    <p>ЗНАТЬ</p>
                </div>

            </div>

            <div class="course-description">
                <p>
                    @Model.Studies.InfoToKnow
                </p>
            </div>
        </li>
        <li>
            <div class="circle">
                <p>2</p>
            </div>
            <div class="course-info-block">
                <div class="course-info-title">
                    <p>УМЕТЬ</p>
                </div>

            </div>

            <div class="course-description">
                <p>
                    @Model.Studies.InfoToCan
                </p>
            </div>
        </li>
        <li>
            <div class="circle">
                <p>3</p>
            </div>
            <div class="course-info-block">
                <div class="course-info-title">
                    <p>ВЛАДЕТЬ</p>
                </div>

            </div>

            <div class="course-description">
                <p>
                    @Model.Studies.InfoToUse
                </p>
            </div>
        </li>
    </ul>
    <div class="box-shadow course-program">
        <h1>Программа курса</h1>
        <ul class="justify-content-center">
            @Html.Raw(Model.Studies.CourseProgramm)
        </ul>
    </div>

    <div class="lectors">
        <h1>Лекторы курса</h1>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            @foreach (Lectors lector in Model.Studies.Lectors)
            {
                <li>
                    <div class="lector-name">
                        <p>@lector.FullName</p>
                    </div>
                    <div class="lector-description">
                        <p>
                            @lector.About
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="registration-container">
        <div class="registration">

            <h1>Записаться на курс</h1>
            <p>Для физических лиц</p>

            <form method ="post" asp-action="RegistrationPhys">
                <div class="input">
                    <label for="course">Название курса</label>
                    <label for="course">Название курса</label>
                    <select class="form-control" id="StudiesId" name="StudiesId" asp-for="RegistrationPhys.StudiesId">
                        <option value="@Model.Studies.Id">@Model.Studies.Title</option>
                    </select>
                </div>

                <div class="input">
                    <label for="fullname">Фамилия Имя Отчество</label>
                    <input class="form-control" asp-for="RegistrationPhys.FullName" name="FullName" id="fullname" type="text" placeholder="Иванов Иван Иванович">
                </div>


                <div class="input">
                    <label for="birthday">Дата рождения</label>
                    <input asp-for="RegistrationPhys.Birthday" name="Birthday" class="form-control" id="birthday" type="date">
                </div>

                <div class="input">
                    <label for="email">E-mail</label>
                    <input class="form-control" asp-for="RegistrationPhys.Email" name="Email" id="email" type="email" placeholder="example@mail.com">
                </div>

                <div class="input">
                    <label for="phone">Телефон</label>
                    <input class="form-control" asp-for="RegistrationPhys.Phone" name="Phone" id="phone" type="tel" placeholder="+7 (999) 999-99-99">
                </div>

                <div class="input">
                    <label for="add-info">Дополнительная информация</label>
                    <textarea class="form-control" asp-for="RegistrationPhys.About" name="About" id="add-info" rows="6" placeholder=""></textarea>
                </div>



                <input type="submit" href="" class="btn btn-primary" value="ЗАПИСАТЬСЯ">

                <p class="privacy">
                    Вы даете согласие на обработку персональных данных и соглашаетесь
                    c политикой конфиденциальности
                </p>
            </form>
        </div>

        <hr />

    <div class="registration">

        <h1>Записаться на курс</h1>
        <p>Для юридических лиц</p>

            <form method="post" asp-action="RegistrationJudic">
            <div class="input">
                <label for="course">Название курса</label>
                    <select class="form-control" id="StudiesId" name="StudiesId" asp-for="RegistrationJudic.StudiesId">
                        <option value="@Model.Studies.Id">@Model.Studies.Title</option>
                </select>
            </div>

            <div class="input">
                <label for="company">Название предприятия</label>
                    <input class="form-control" asp-for="RegistrationJudic.CompanyName" name="CompanyName" id="company" type="text" placeholder="">
            </div>

            <div class="input">
                <label for="employers">Количество сотрудников для обучения</label>
                <input class="form-control" asp-for="RegistrationJudic.PeopleCount" name="PeopleCount" id="employers" type="number" placeholder="">
            </div>

            <div class="input">
                <label for="place">Место проведения</label>
                    <select asp-for="RegistrationJudic.StudyPlace" name="StudyPlace" class="form-control" id="place">
                    <option value="0">(не установлено)</option>
                        <option value="1">На территории РХТУ</option>
                        <option value="2">На территории заказчика</option>
                </select>
            </div>

            <div class="input">
                <label for="fullname">Фамилия Имя Отчество</label>
                    <input class="form-control" asp-for="RegistrationJudic.FullName" name="FullName" id="fullname" type="text" placeholder="Иванов Иван Иванович">
            </div>

            <div class="input">
                <label for="email">E-mail</label>
                <input class="form-control" asp-for="RegistrationJudic.Email" name="Email" id="email" type="email" placeholder="example@mail.com">
            </div>

            <div class="input">
                <label for="phone">Телефон</label>
                <input class="form-control" asp-for="RegistrationJudic.Phone" name="Phone" id="phone" type="tel" placeholder="+7 (999) 999-99-99">
            </div>

            <div class="input">
                <label for="add-info">Дополнительная информация</label>
                <textarea class="form-control" asp-for="RegistrationJudic.About" name="About" id="add-info" rows="6" placeholder=""></textarea>
            </div>



            <input type="submit" href="" class="btn btn-primary" value="ЗАПИСАТЬСЯ">

            <p class="privacy">
                Вы даете согласие на обработку персональных данных и соглашаетесь
                c политикой конфиденциальности
            </p>
        </form>
    </div>
        <hr />

    <div class="registration">
        <h1>Оставить отзыв</h1>
        <form method="post" asp-action="Feedback">

            <div class="input">
                <label for="fullname">Ваше имя</label>
                <input asp-for="Feedback.Name" name="Name" class="form-control" id="fullname" type="text" placeholder="Иван">
            </div>

            <div class="input">
                <label for="email">E-mail</label>
                    <input asp-for="Feedback.Email" name="Email" class="form-control" id="email" type="email" placeholder="example@mail.com">
            </div>

            <div class="input">
                <label for="add-info">Отзыв</label>
                    <textarea asp-for="Feedback.Description" name="Description" class="form-control" id="add-info" rows="6" placeholder=""></textarea>
            </div>



            <input type="submit" href="" class="btn btn-primary" value="Отправить">

            <p class="privacy">
                Вы даете согласие на обработку персональных данных и соглашаетесь
                c политикой конфиденциальности
            </p>
        </form>
    </div>
    </div>
</div>

    