@model CategoriesAndNews

@{
    ViewData["Title"] = "Главная";
}

<div class="top main-block">
    <div class="info">
        <h1 id="info-h1">
            МЕЖДУНАРОДНАЯ
            АКАДЕМИЯ БИЗНЕСА
            MENDELEEV
        </h1>
        <p>
            Подготовка высококвалифицированных специалистов
            с необходимыми профессиональными компетенциями
        </p>

        <a href="" class="btn btn-primary">ВСЕ КУРСЫ</a>

    </div>
    <div class="circular-arrow"></div>
</div>

<div id="about" class="about main-block">
    <div class="block-about">
        <div class="head-of-block">
            <h1>ОБ АКАДЕМИИ</h1>
            <p>Для обеспечения химической отрасли современными высококвалифицированными кадрами, в 2019 году на базе Российского химико-технологического университета имени Д.И. Менделеева учреждена Международная академия бизнеса Mendeleev</p>

            <h1>ЦЕЛИ АКАДЕМИИ</h1>
            <ul class="target-ul justify-content-center">
                <li>
                    <ul class="nav justify-content-center">
                        <li style="padding-right: 50px;">
                            <h2>Подготовка</h2>
                            <p>высококвалифицированных кадров химической отрасли в условиях международной конкуренции</p>
                        </li>
                        <li class="target-img right">
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="nav justify-content-center">
                        <li class="target-img left">
                        </li>
                        <li style="padding-left: 50px;">
                            <h2>Развитие</h2>
                            <p>отраслевых регионов химической промышленности путем создания инновационно-образовательных консорциумов для подготовки специалистов на базе прикладных научных исследований и технологических инноваций</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="head-of-block">
            <h1>МИССИЯ АКАДЕМИИ</h1>
            <p>Создание системы опережающего развития с полным спектром услуг и сервисов, отвечающих потребностям химико-технологической отрасли в областях технологических инноваций и кадрового обеспечения</p>
        </div>
        <ul class="missions nav justify-content-center">
            <li>
                    <div class="mis-top">
                        <p style="text-align: left;">
                            ДОПОЛНИТЕЛЬНОЕ<br />
                            ОБРАЗОВАНИЕ
                        </p>
                    </div>
                    <div class="mis-bot">
                        ДЛЯ ДЕТЕЙ И ВЗРОСЛЫХ
                    </div>
                    <div class="mis-num">01</div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ДОПОЛНИТЕЛЬНОБ <br />
                        ПРОФЕССИОНАЛЬНОЕ
                    </p>
                </div>
                <div class="mis-bot">
                    ОБРАЗОВАНИЕ
                </div>
                <div class="mis-num">02</div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ДОПОЛНИТЕЛЬНОЕ<br />
                        ОБРАЗОВАНИЕ
                    </p>
                </div>
                <div class="mis-bot">
                    ОБУЧАЮЩИХСЯ УНИВЕРСИТЕТА
                </div>
                <div class="mis-num">03</div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ВЫЯВЛЕНИЕ,
                        <br />
                        ПОДДЕРЖКА
                        <br />
                        И РАЗВИТИЕ
                    </p>
                </div>
                <div class="mis-bot">
                    СПОСОБНОСТЕЙ И ТАЛАНТОВ У ДЕТЕЙ И МОЛОДЕЖИ
                </div>
                <div class="mis-num">04</div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        АНАЛИЗ
                        <br />
                        КАДРОВОГО
                        <br />
                        ЗАПРОСА
                    </p>
                </div>
                <div class="mis-bot">
                    ОТРАСЛИ ДЛЯ УДОВЛЕТВОРЕНИЯ<br />
                    НУЖД РЫНКА
                </div>
                <div class="mis-num">05</div>
            </li>
            <li>
                    <div class="mis-top">
                        <p style="text-align: left;">
                            РАЗВИТИЕ
                            <br />
                            СОТРУДНИЧЕСТВА
                            <br />
                            С ПАРТНЕРАМИ
                        </p>
                    </div>
                    <div class="mis-bot">
                        ПО ВОПРОСАМ НЕПРЕРЫВНОГО ОБРАЗОВАНИЯ,<br />
                        СОВМЕСТНЫХ ПРОЕКТОВ, В ТОМ ЧИСЛЕ<br />
                        МЕЖДУНАРОДНЫХ
                    </div>
                    <div class="mis-num">06</div>
            </li>
        </ul>
    </div>
</div>
@if (Model.News.Count() != 0)
    {
    <div class="news main-block">
            <h1>
                Новости академии
            </h1>

            <section class="loader">

                <div style="--i:0" class="slider">
                </div>
                <div style="--i:1" class="slider">
                </div>
                <div style="--i:2" class="slider">
                </div>
                <div style="--i:3" class="slider">
                </div>
                <div style="--i:4" class="slider">
                </div>
            </section>

            <div class="owl-carousel">
                @foreach (News obj in Model.News)
                {
                    <div class='news-block item'>
                        <img src="@obj.Photo" alt="">
                        <h2>@obj.Title</h2>
                        <p class="info">@obj.BriefDescription</p>
                        <p class="date">@obj.Created.ToString("dd/MM/yyyy")</p>
                    </div>
                }
            </div>
    </div>
}

<div id="study" class="study-branches main-block">
    <h1>НАПРАВЛЕНИЯ ОБУЧЕНИЯ</h1>
    <div class="for-accordion">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            @foreach(StudyCategories category in Model.Categories)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading-@category.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@category.Id" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            @category.Name
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse-@category.Id" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@category.Id">
                        <div class="accordion-body">
                            @foreach (Studies course in category.Studies)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-id="@course.Id">@course.Title</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="process main-block">
    <h1>ПРОЦЕСС ЗАЧИСЛЕНИЯ</h1>
    <ul class="nav justify-content-center">
        <li>
            <div class="for-num">1</div>
            <div class="for-text">
                Заполнение регистрационной формы
                <br />
                Подача документов (дистанционно)
            </div>
        </li>
        <li>
            <div class="for-num">2</div>
            <div class="for-text">
                <h2>Необходимые документы</h2>
                Карточка предприятия <notstrong>(для юр. лиц)</notstrong>
                <br />
                Удостоверение личности <notstrong>(скан)</notstrong>
                <br />
                СНИЛС <notstrong>(скан)</notstrong>
                <br />
                Диплом о высшем или среднем профессиональном образовании <notstrong>(скан)</notstrong>
            </div>
        </li>
        <li>
            <div class="for-num">3</div>
            <div class="for-text">
                Заявление о зачислении
                <br />
                Согласие на обработку персональных данных
                <br />
                Заключение договора и оплата обучения
            </div>
        </li>
    </ul>
</div>

<div class="create-block main-block">
    <h1>САМОЕ ВРЕМЯ СОЗДАВАТЬ</h1>
    <p>Выберите готовую программу обучения, чтобы развивать свою карьеру</p>
    <table align="center">
        <tr>
            <td class="first-image" rowspan="2" colspan="2"><img class="img-block" src="~/media/first.png" alt=""></td>
            <td><img class="img-block" src="~/media/second.png" alt=""></td>
            <td><img class="img-block" src="~/media/third.png" alt=""></td>
        </tr>
        <tr>
            <td><img class="img-block" src="~/media/fourth.png" alt=""></td>
            <td><img class="img-block" src="~/media/fifth.png" alt=""></td>
        </tr>
    </table>

</div>
<div class="not-found">
    <div>
        <h1>НЕ НАШЛИ ПОДХОДЯЩИЙ КУРС?</h1>
        <p>Оставьте заявку на нашем сайте и мы разработаем уникальную программу под ваши бизнес-задачи, поможем выстроить технологический процесс, а также обучим технологическому процессу под задачи вашего бизнеса</p>
        <button class="btn-new btn-1 hover-filled-slide-left">
            <span>ОСТАВИТЬ ЗАЯВКУ</span>
        </button>
    </div>
</div>
<div class="how-works main-block">
    <h1>Как это работает?</h1>
    <div>
        <ol class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <h1>Выезжаем</h1>
                <p>на ваше производство</p>
            </li>
            <li>
                <h1>Изучаем</h1>
                <p>бизнес-процессы, оборудование</p>
            </li>
            <li>
                <h1>Выстраиваем</h1>
                <p>технологические процессы</p>
            </li>
            <li>
                <h1>Составляем</h1>
                <p>программу обучения</p>
            </li>
            <li>
                <h1>Подтверждаем</h1>
                <p>пройденное обучение соответствующим документом</p>
            </li>
            <li>
                <h1>Продемонстрируем</h1>
                <p>результат, который получит ваш бизнес</p>
            </li>
        </ol>
    </div>
</div>
<div id="partners" class="partners-block main-block">
    <h1>НАШИ ПАРТНЕРЫ</h1>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        @{

            DirectoryInfo Folder;
            FileInfo[] Images;

            Folder = new DirectoryInfo("wwwroot/media/Investors");
            Images = Folder.GetFiles();

            for (int k = 0; k < Images.Length; k++)
            {
                @Html.Raw("<li>");
                string image = String.Format(@"{0}/{1}", "/media/Investors", Images[k].Name);
                @Html.Raw("<img src='" + image + "' alt='' />")
                @Html.Raw("</li>");
            }
        }
    </ul>
</div>
