@using System.Globalization
@model CategoriesNewCourseNewsRecs

@{
    ViewData["Title"] = "Главная";
}

<partial name="_Notifications" />
<div class="menu-wrap-box"></div>
<div class="background" data-modal-window="modal_reg_anon">
    <form method="post" asp-action="NewCourseRequest" id="funreg">
        <h1>Заявка</h1>
        <p>Опишите заявку для последующей связи с вами</p>
        <div class="user-details">
            <div class="input-box">
                <span asp-validation-for="NewCourse.Name">ФИО</span>
                <input asp-for="NewCourse.Name" name="Name" required>
            </div>
            <div class="input-box">
                <span asp-validation-for="NewCourse.Email">Email</span>
                <input asp-for="NewCourse.Email" name="Email" placeholder="example@muctr.ru" required>
            </div>
            <div class="input-box">
                <span asp-validation-for="NewCourse.Description">Краткое описание курса</span>
                <textarea asp-for="NewCourse.Description" name="Description" required></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Отправить заявку" />
    </form>
</div>  

<div class="background" data-modal-window="modal_rev_anon">
    <div class="feedback documents" id="reviews">
        <div class="feedback-title">
            <h1 style="color:#000;" sty>Правовые документы</h1>
            <hr class="h_line" />
        </div>
            @foreach(var doc in Model.Documents){
                <div class="feedback-block">
                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#000000" d="M832 384H576V128H192v768h640V384zm-26.496-64L640 154.496V320h165.504zM160 64h480l256 256v608a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32zm160 448h384v64H320v-64zm0-192h160v64H320v-64zm0 384h384v64H320v-64z"></path></g></svg>
                <a class="reviewer-msg for-site" style="color: #000 !important;" st href="@doc.Url" target="_blank">
                    @doc.Name
                </a>
                </div>

                <hr class="h_line" />
            }

        <hr class="h_line" />

    </div>
</div>

<div class="top">
    <div class="info">
        <h1 id="info-h1">
            МЕЖДУНАРОДНАЯ
            АКАДЕМИЯ БИЗНЕСА
            MENDELEEV
        </h1>
        <p>
            Подготовка высококвалифицированных специалистов
            с необходимыми профессиональными компетенциями
        </p>

        <a href="#study" class="btn btn-primary btn-color">ВСЕ КУРСЫ</a>

    </div>
    @if (Model.Recs != null)
    {
        <a href="#recomendations_id"><div class="circular-arrow"></div></a>
    }
    else
    {
        <a href="#about"><div class="circular-arrow"></div></a>
    }

</div>

@if (Model.Recs != null)
{
    <div id="recomendations_id" class="recomendations main-block">
        <h1>КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ</h1>
        <ul class="nav justify-content-center">
            @foreach(CourseRecomendation course in Model.Recs)
            {
                <li>
                    <a asp-controller="Course" asp-action="Index" asp-route-id="@course.Course.Id">
                        <svg fill="#000000" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M419.3 264.8l-61.8 61.8L542.9 512 357.5 697.4l61.8 61.8L666.5 512z"></path></g></svg>
                        <h2>@course.Course.Title</h2>
                        <img class="for-photo" src="@course.Photo" />
                        <p class="date">
                            @(course.Course.StartTime.Month == course.Course.EndTime.Month && course.Course.StartTime.Year == course.Course.EndTime.Year ?
                                $"{course.Course.StartTime.Day.ToString("d")} - {course.Course.EndTime.ToString("d MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))} г." :
                                $"{course.Course.StartTime.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))} - {@course.Course.EndTime.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))}")
                        </p>
                    </a>
                </li>
            }
            <li>
                <a href="#study">
                    <svg fill="#000000" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M419.3 264.8l-61.8 61.8L542.9 512 357.5 697.4l61.8 61.8L666.5 512z"></path></g></svg>
                    <h2>Все курсы</h2>
                    <img class="for-photo" src="~/media/Recomend/AllCourses.png" />
                </a>
            </li>
        </ul>
    </div>
}

<div id="about" class="about main-block">
    <div class="block-about">
        <div class="head-of-block">
            <h1>ОБ АКАДЕМИИ</h1>
            <p>
                Для обеспечения химической отрасли современными высококвалифицированными
                кадрами, в 2019 году на базе Российского химико-технологического университета
                имени Д.И.Менделеева учреждена Международная академия бизнеса Mendeleev
            </p>

            <h1>ЦЕЛИ АКАДЕМИИ</h1>
            <ul class="target-ul justify-content-center">
                <li>
                    <ul class="nav justify-content-center">
                        <li>
                            <h2>Подготовка</h2>
                            <p style="padding-right: 5%;">высококвалифицированных кадров химической отрасли в условиях международной конкуренции</p>
                        </li>
                        <li>
                            <img src="~/media/rigth.png" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="nav justify-content-center">
                        <li class="target-img left">
                            <img src="~/media/left.jpeg" />
                        </li>
                        <li style="padding-left: 5%;">
                            <h2>Развитие</h2>
                            <p>отраслевых регионов химической промышленности путем создания инновационно-образовательных консорциумов для подготовки специалистов на базе прикладных научных исследований и технологических инноваций</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="head-of-block">
            <h1>МИССИЯ АКАДЕМИИ</h1>
            <p>Создание системы опережающего развития с полным спектром услуг и сервисов, отвечающих потребностям химико-технологической отрасли в областях технологических инноваций и кадрового обеспечения химической отрасли</p>
        </div>
        <ul class="missions nav justify-content-center">
            <li>
                    <div class="mis-top">
                        <p style="text-align: left;">
                            ДОПОЛНИТЕЛЬНОЕ<br />
                            ОБРАЗОВАНИЕ
                        </p>
                    </div>
                    <div class="mis-bot">
                        ДЛЯ ДЕТЕЙ И ВЗРОСЛЫХ
                    </div>
                <div class="mis-num"><img src="~/media/Missions/free-icon-font-diploma.png" /></div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ДОПОЛНИТЕЛЬНОЕ <br />
                        ПРОФЕССИОНАЛЬНОЕ
                    </p>
                </div>
                <div class="mis-bot">
                    ОБРАЗОВАНИЕ
                </div>
                <div class="mis-num"><img src="~/media/Missions/free-icon-font-book-open-reader.png" /></div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ДОПОЛНИТЕЛЬНОЕ<br />
                        ОБРАЗОВАНИЕ
                    </p>
                </div>
                <div class="mis-bot">
                    ОБУЧАЮЩИХСЯ УНИВЕРСИТЕТА
                </div>
                <div class="mis-num"><img src="~/media/Missions/free-icon-font-graduation-cap.png" /></div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        ВЫЯВЛЕНИЕ,
                        <br />
                        ПОДДЕРЖКА
                        <br />
                        И РАЗВИТИЕ
                    </p>
                </div>
                <div class="mis-bot">
                    СПОСОБНОСТЕЙ И ТАЛАНТОВ У ДЕТЕЙ И МОЛОДЕЖИ
                </div>
                <div class="mis-num"><img src="~/media/Missions/free-icon-font-gesture.png" /></div>
            </li>
            <li>
                <div class="mis-top">
                    <p style="text-align: left;">
                        АНАЛИЗ
                        <br />
                        КАДРОВОГО
                        <br />
                        ЗАПРОСА
                    </p>
                </div>
                <div class="mis-bot">
                    ОТРАСЛИ ДЛЯ УДОВЛЕТВОРЕНИЯ<br />
                    НУЖД РЫНКА
                </div>
                <div class="mis-num"><img src="~/media/Missions/free-icon-font-search.png" /></div>
            </li>
            <li>
                    <div class="mis-top">
                        <p style="text-align: left;">
                            РАЗВИТИЕ
                            <br />
                            СОТРУДНИЧЕСТВА
                            <br />
                            С ПАРТНЕРАМИ
                        </p>
                    </div>
                    <div class="mis-bot">
                        ПО ВОПРОСАМ НЕПРЕРЫВНОГО ОБРАЗОВАНИЯ,<br />
                        СОВМЕСТНЫХ ПРОЕКТОВ, В ТОМ ЧИСЛЕ<br />
                        МЕЖДУНАРОДНЫХ
                    </div>
                <div class="mis-num"><img src="~/media/Missions/collaboration.png" /></div>
            </li>
        </ul>
    </div>
</div>
@if (Model.News.Count() != 0)
    {
    <div class="news main-block">
            <h1>
                Новости академии
            </h1>

            <section class="loader">

                <div style="--i:0" class="slider">
                </div>
                <div style="--i:1" class="slider">
                </div>
                <div style="--i:2" class="slider">
                </div>
                <div style="--i:3" class="slider">
                </div>
                <div style="--i:4" class="slider">
                </div>
            </section>

            <div class="owl-carousel">
                @foreach (News obj in Model.News)
                {
                    <div class='news-block item'>
                        <img src="@obj.Photo" alt="">
                        <h2>@obj.Title</h2>
                        <p class="info">@obj.BriefDescription</p>
                        <p class="date">@obj.Created.ToString("dd/MM/yyyy")</p>
                    </div>
                }
            </div>
    </div>
}

<div id="study" class="study-branches main-block">
    <h1>НАПРАВЛЕНИЯ ОБУЧЕНИЯ</h1>
    <div class="for-accordion">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            @foreach(StudyCategories category in Model.Categories)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading-@category.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@category.Id" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            @category.Name
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse-@category.Id" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@category.Id">
                        <div class="accordion-body">
                            @foreach (Studies course in category.Studies)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-id="@course.Id">@course.Title</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="process main-block">
    <h1>ПРОЦЕСС ЗАЧИСЛЕНИЯ</h1>
    <ul class="nav justify-content-center">
        <li>
            <div class="for-num">1</div>
            <div class="for-text">
                <h2>РЕГИСТРАЦИЯ</h2>
                <div>
                    Заполнение регистрационной формы
                    <br />
                    Подача документов (дистанционно)
                </div>
            </div>
        </li>
        <li>
            <div class="for-num">2</div>
            <div class="for-text">
                <h2>ДОКУМЕНТЫ</h2>
                Карточка предприятия <notstrong>(для юр. лиц)</notstrong>
                <br />
                Удостоверение личности <notstrong>(скан)</notstrong>
                <br />
                СНИЛС <notstrong>(скан)</notstrong>
                <br />
                Диплом о высшем или среднем профессиональном образовании <notstrong>(скан)</notstrong>
            </div>
        </li>
        <li>
            <div class="for-num">3</div>
            <div class="for-text">
                <h2>ЗАЧИСЛЕНИЕ</h2>
                Заявление о зачислении
                <br />
                Согласие на обработку персональных данных
                <br />
                Заключение договора и оплата обучения
            </div>
        </li>
    </ul>
</div>

<div class="create-block main-block">
    <h1>САМОЕ ВРЕМЯ СОЗДАВАТЬ</h1>
    <p>Выберите готовую программу обучения, чтобы развивать свою карьеру</p>
    <table align="center" class="create-table-photo">
        <tr>
            <td class="first-image" rowspan="2" colspan="2"><img class="img-block" src="~/media/first.png" alt=""></td>
            <td><img class="img-block" src="~/media/second.png" alt=""></td>
            <td><img class="img-block" src="~/media/third.png" alt=""></td>
        </tr>
        <tr>
            <td class="fourth-image" colspan="2"><img class="img-block" src="~/media/fourth.png" alt=""></td>
        </tr>
    </table>

    <table align="center" class="create-table-photo-2">
        <tr>
            <td class="first-image" colspan="2"><img class="img-block" src="~/media/first.png" alt=""></td>
        </tr>
        <tr>
            <td><img class="img-block" src="~/media/second.png" alt=""></td>
            <td><img class="img-block" src="~/media/third.png" alt=""></td>
        </tr>
        <tr>
            <td class="fourth-image" colspan="2"><img class="img-block" src="~/media/fourth.png" alt=""></td>
        </tr>
    </table>

</div>
<div class="not-found">
    <div>
        <h1>НЕ НАШЛИ ПОДХОДЯЩИЙ КУРС?</h1>
        <p>Оставьте заявку на нашем сайте и мы разработаем уникальную программу под ваши бизнес-задачи, поможем выстроить технологический процесс, а также обучим технологическому процессу под задачи вашего бизнеса</p>
        <div id="overlay"></div>
        <button href="#study" class="btn btn-primary btn-color" data-modal-btn="modal_reg_anon">ОСТАВИТЬ ЗАЯВКУ</button>
    </div>
</div>
<div class="how-works main-block">
    <h1>КАК ЭТО РАБОТАЕТ?</h1>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <img src="~/media/1.png"/>
            <h2>Выезжаем</h2>
            <p>на ваше производство</p>
        </li>
        <li class="arrow">
            <svg role="img" width="60" stroke="#000000" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 18.7"><path class="st0" d="M4.2 9.4h32.1"></path><path class="st1" d="M31.3 13.4l5-4-5-4"></path></svg>
        </li>
        <li>
            <img src="~/media/2.png" />
            <h2>Изучаем</h2>
            <p>бизнес-процессы, оборудование</p>
        </li>
        <li class="arrow">
            <svg role="img" width="60" stroke="#000000" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 18.7"><path class="st0" d="M4.2 9.4h32.1"></path><path class="st1" d="M31.3 13.4l5-4-5-4"></path></svg>
        </li>
        <li>
            <img src="~/media/3.png" />
            <h2>Выстраиваем</h2>
            <p>технологические процессы</p>
        </li>
        <li>
            <img src="~/media/4.png" />
            <h2>Составляем</h2>
            <p>программу обучения</p>
        </li>
        <li class="arrow">
            <svg role="img" width="60" stroke="#000000" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 18.7"><path class="st0" d="M4.2 9.4h32.1"></path><path class="st1" d="M31.3 13.4l5-4-5-4"></path></svg>
        </li>
        <li>
            <img src="~/media/5.png" />
            <h2>Подтверждаем</h2>
            <p>пройденное обучение соответствующим документом</p>
        </li>
        <li class="arrow">
            <svg role="img" width="60" stroke="#000000" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 18.7"><path class="st0" d="M4.2 9.4h32.1"></path><path class="st1" d="M31.3 13.4l5-4-5-4"></path></svg>
        </li>
        <li>
            <img src="~/media/6.png" />
            <h2>Демонстрируем</h2>
            <p>результат, который получит ваш бизнес</p>
        </li>
    </ul>
</div>
<div id="partners" class="partners-block">
    <div class="main-block">
        <h1>НАШИ ПАРТНЕРЫ</h1>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            @{
                foreach (var sponsor in Model.Sponsors)
                {
                    @Html.Raw("<li>")
                    @Html.Raw("<img src='" + sponsor.Url + "' alt='' />")
                    @Html.Raw("</li>")
                }
            }
        </ul>
    </div>
</div>
