@model IEnumerable<NewCourse>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li>
            <a asp-controller="Home" asp-action="Index" type="submit">Главная</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index" type="submit">Все таблицы</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Logout" type="submit">Выйти</a>
        </li>
    </ul>
</div>

<div class="container p-3 table-area">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Заявки на новые курсы</h2>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-filter" style="width: 100%">
        <ul class="nav">
            <li class="filter active All" onclick="filterNewCourse('All')">
                Все заявки
            </li>
            <li class="filter IsChecked" onclick="filterNewCourse('IsChecked')">
                Просмотренные
            </li>
            <li class="filter NotChecked" onclick="filterNewCourse('NotChecked')">
                Не просмотренные
            </li>
        </ul>
        <thead class="reg-table-head">
            <tr>
                <th style="border-left: 1px solid #87CEFA">Просмотрен</th>
                <th>Имя</th>
                <th>E-mail</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody class="table-category">
            @foreach (var obj in Model)
            {
                <tr>
                    @if (obj.IsChecked)
                    {
                        <td class="true" style="text-align:center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        </td>
                    }
                    else
                    {
                        <td class="false" style="text-align:center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </td>
                    }
                    <td>
                        @obj.Name
                    </td>

                    <td>
                        @obj.Email
                    </td>

                    <td>
                        @obj.Description
                    </td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="text-decoration-none btn btn-secondary" asp-controller="NewCourse" asp-action="Checked" asp-route-id="@obj.Id">
                                @if (obj.IsChecked)
                                {
                                    <strong>Не просмотрен</strong>
                                }
                                else
                                {
                                    <strong>Просмотрен</strong>
                                }
                            </a>
                            <a class="text-decoration-none btn btn-danger" asp-controller="NewCourse" asp-action="Delete" asp-route-id="@obj.Id" onclick="return confirm('Вы уверены что хотите удалить заявку?')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
